body
{
    background: #0a0a23;
    color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex; /*FLEX! 💪*/
    flex-direction: column; /*FLEX!! 💪*/
    align-items: left;
}
.title
{
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #53f6ff, 0 0 20px #00fff3;
}
.arithmetic-btn /*generic button*/
{
    display: inline-flex; /*FLEX!!! 💪*/
    padding: 18px 32px;
    font-size: 1em;
    font-family: 'Press Start 2P',cursive;
    color: #fff;
    background: repeating-linear-gradient(90deg, #1a1a40,#23234f 80%);
    border: 4px solid #4166f5; /*side note, i own project 4166, might do smn cool with it 🧐😐*/
    border-radius: 7px;
    margin-bottom: 35px;
    cursor: pointer; /*might add custom cursor to the project later*/
    box-shadow: 0 0 8px #4100f3; /*something reminiscent of this colour✨*/
    transition: background 0.1s, transform 0.1s; /*You can't see me 👀👋*/
    text-decoration: none;
    margin-top: 10px;
}
.arithmetic-btn:hover /*generic button hover*/
{
    background: repeating-radial-gradient(ellipse at center, #4100f3 0px, #4166 15px, #0a0a23 15px, rgb(78, 78, 146)px, rgb(1, 66, 58) 30px, rgb(3, 72, 104) 45px);
    color: #0a0a23
}
.inputs
{
    margin-bottom: 15px;
}
.inputs input
{
    width: 160px;
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #4166f5;
    font-size: 1.1em;
    background: #18183a;
    color: #fff;
    outline: floralwhite;
}
#result
{
    font-size: 1.4em;
    margin-top: 24px;
    color:#18183a;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 5px #0a0a23
}
/*never again please*/
 /*Oh, the pain!*/
  /*Oh, the agony!*/
   /*Oh the CSS docs review! ;( */

/*This script has under gone the 4.0 Modifications and will soon have a major update*/